In [1]:
# Importazione delle librerie python e caricamento dati Covid tramite file .xlsx

import numpy as np
import pandas as pd
df = pd.read_excel("C:\\Users\\leo\\Desktop\\owid-covid-data.xlsx")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402712,ZWE,Africa,Zimbabwe,2024-05-15,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402713,ZWE,Africa,Zimbabwe,2024-05-16,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402714,ZWE,Africa,Zimbabwe,2024-05-17,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402715,ZWE,Africa,Zimbabwe,2024-05-18,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402716,ZWE,Africa,Zimbabwe,2024-05-19,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [71]:
# Verifico le dimensioni del dataset e i relativi metadati 

print("Dimensioni e riepilogo del Dataframe:\n",df.shape)
df.info()
df.head()

Dimensioni e riepilogo del Dataframe:
 (402717, 67)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402717 entries, 0 to 402716
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    402717 non-null  object
 1   continent                                   383454 non-null  object
 2   location                                    402717 non-null  object
 3   date                                        402717 non-null  object
 4   total_cases                                 363712 non-null  float64
 5   new_cases                                   391526 non-null  float64
 6   new_cases_smoothed                          390296 non-null  float64
 7   total_deaths                                341117 non-null  float64
 8   new_deaths                                  391897 non-null  float64
 9   new_deaths_smoothed                         390667 non-null  float64
 10  total_cases_per_million                     363712 non-null  float64
 11  new_cases_per_million                       391526 non-null  float64
 12  new_cases_smoothed_per_million              390296 non-null  float64
 13  total_deaths_per_million                    341117 non-null  float64
 14  new_deaths_per_million                      391897 non-null  float64
 15  new_deaths_smoothed_per_million             390667 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38892 non-null   float64
 18  icu_patients_per_million                    38892 non-null   float64
 19  hosp_patients                               40432 non-null   float64
 20  hosp_patients_per_million                   40432 non-null   float64
 21  weekly_icu_admissions                       10838 non-null   float64
 22  weekly_icu_admissions_per_million           10838 non-null   float64
 23  weekly_hosp_admissions                      24347 non-null   float64
 24  weekly_hosp_admissions_per_million          24347 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          84404 non-null   float64
 35  people_vaccinated                           80176 non-null   float64
 36  people_fully_vaccinated                     77095 non-null   float64
 37  total_boosters                              52612 non-null   float64
 38  new_vaccinations                            70041 non-null   float64
 39  new_vaccinations_smoothed                   193691 non-null  float64
 40  total_vaccinations_per_hundred              84404 non-null   float64
 41  people_vaccinated_per_hundred               80176 non-null   float64
 42  people_fully_vaccinated_per_hundred         77095 non-null   float64
 43  total_boosters_per_hundred                  52612 non-null   float64
 44  new_vaccinations_smoothed_per_million       193691 non-null  float64
 45  new_people_vaccinated_smoothed              191008 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  191008 non-null  float64
 47  stringency_index                            197292 non-null  float64
 48  population_density                          342656 non-null  float64
 49  median_age                                  318453 non-null  float64
 50  aged_65_older                               307522 non-null  float64
 51  aged_70_older                               315259 non-null  float64
 52  gdp_per_capita                              312313 non-null  float64
 53  extreme_poverty                             201340 non-null  float64
 54  cardiovasc_death_rate                       312901 non-null  float64
 55  diabetes_prevalence                         329085 non-null  float64
 56  female_smokers                              234897 non-null  float64
 57  male_smokers                                231703 non-null  float64
 58  handwashing_facilities                      153356 non-null  float64
 59  hospital_beds_per_thousand                  276419 non-null  float64
 60  life_expectancy                             371154 non-null  float64
 61  human_development_index                     303533 non-null  float64
 62  population                                  402717 non-null  int64
 63  excess_mortality_cumulative_absolute        13278 non-null   float64
 64  excess_mortality_cumulative                 13278 non-null   float64
 65  excess_mortality                            13278 non-null   float64
 66  excess_mortality_cumulative_per_million     13278 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 205.9+ MB

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [72]:
# Rimuovo i valori che non appartengono ad alcun continente

df_nuovo = df.dropna(subset="continent")
df_nuovo

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402712,ZWE,Africa,Zimbabwe,2024-05-15,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402713,ZWE,Africa,Zimbabwe,2024-05-16,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402714,ZWE,Africa,Zimbabwe,2024-05-17,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402715,ZWE,Africa,Zimbabwe,2024-05-18,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
402716,ZWE,Africa,Zimbabwe,2024-05-19,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [103]:
# Numero di casi totali avvenuti nello stesso continente

numero_casi_continete = df_nuovo.groupby("continent")["new_cases"].agg(casi_totali=(sum))
print(numero_casi_continete.astype(int))

               casi_totali
continent
Africa            13144001
Asia             301493807
Europe           252591016
North America    124570370
Oceania           14951880
South America     68838753

In [110]:
# Casi totali nel mondo calcolati anche sulle locazioni senza indicazione di continente

totale_casi_mondo = df["new_cases"].sum()
print(totale_casi_mondo)

3286783071.0